* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    line-height:1.6em;
    margin-bottom: 5em;
}

h2 .date {
    font-size: 9pt;
    color: #888;
}

h1 {
    font-family: Roboto;
    font-weight: 100;
    margin-top: 1em;
    margin-bottom: 1em;
}

h1.title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 15pt;
    color: #000;
    padding: 0em;
    text-align: left;
}

@media screen and (min-width: 40em) {
    #preamble {
        width: 100%;
    }

    #top-bar {
        width: 40em;
        padding: .25em .5em;
    }

    #top-bar #title-bar, #top-bar #nav-bar {
        width: 50%;
    }

    #content {
        max-width: 40em;
        margin: 0 auto;
    }

    #content img {
        max-width: 100%;
    }
}

@media screen and (max-width: 40em) {
    #preamble {
        width: 100%;
    }

    #top-bar {
        width: 100%;
        padding: .25em .5em;
    }

    #top-bar #title-bar, #top-bar #nav-bar {
        width: 50%;
    }

    #content {
        max-width: 100%;
    }

    #content img {
        max-width: 100%;
    }
}

#top-bar {
    font-family: Roboto;
    font-weight: 400;
    display: inline-block;
    background-color: #fff;
}

#preamble {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    text-align: center;
}

#footer {
    font-size: 8pt;
    text-align: center;
}

#nav-bar {
    font-family: Roboto, sans-serif;
    font-size: 10pt;
    display: inline-block;
    text-align: right;
}

#me .fa-child {
    font-size: 11pt;
}

#nav-bar span {
    padding-left: 0.25em;
}

#title-bar {
    display: inline-block;
    font-size: 20pt;
    text-align: left;
}

#title-bar a {
    line-height: 1.3em;
}

h2 {
    font-family: Roboto;
    font-weight: 400;
    font-size: 15pt;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

a {
    color: #888;
    text-decoration: none;
}

a:hover {
    color: #000;
}

div.figure a {
    text-decoration: none;
}

div.figure p {
    text-align: center;
}

code {
    font-family: "Roboto Mono", monospace;
    font-size: 11pt;
    color: #000;
}

pre {
    font-family: "Droid Sans Mono", monospace;
    font-size: 10pt;
    background-color: #fff;
    padding: 0.5em;
    overflow-x: scroll;
}

pre.src {
    border-left: 0px solid #fff;
}

#content {
    padding: 4em 1em;
    background-color: #fff;
}

#content img {
    display: inline;
}

.entry {
    padding: 0 1.5em;
}
