body {
    background-color: rgba(236,240,241,0.8);
    font-family: 'Droid Sans', sans-serif;
    font-size: 11pt;
    line-height:1.6em;
    margin-bottom: 5em;
}

h1.title {
    font-size: 15pt;
    color: #2c3e50;
    padding: 0em;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

@media screen and (min-width: 32em) {
    #top-bar {
        width: 32em;
    }
}

@media screen and (max-width: 32em) {
    #top-bar {
        width: 100%;
    }
}

#top-bar {
    display: inline-block;
    max-width: 32em;
    background-color: rgba(236,240,241,0.8);
    padding: .5em 1em;
    margin: 0 auto;
}

#preamble {
    position: fixed;
    top: 0px;
    width: 100%;
    text-align: center;
}

#nav-bar {
    font-family: Raleway, sans-serif;
    font-size: 11pt;
    width: 50%;
    display: inline-block;
    text-align: right;
}

#nav-bar span {
    padding-left: 0.25em;
}

#title-bar {
    width: 50%;
    display: inline-block;
    font-size: 20pt;
    text-align: left;
    font-family: Raleway, sans-serif;
    font-weight: 400;
}

#title-bar a {
    line-height: 1.3em;
}

h2 {
    font-size: 15pt;
    font-family: Raleway, sans-serif;
    font-weight: 400;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    color: #f39c12;
}

div.figure a {
    color: #2980b9;
    text-decoration: none;
}

div.figure p {
    text-align: center;
}

code {
    font-family: monospace;
    font-size: 11pt;
    color: #2c3e50;
}

pre {
    font-family: monospace;
    font-size: 10pt;
    background-color: #ecf0f1;
    padding: 0.5em;
    overflow-x: scroll;
}

pre.src {
    margin-left: 2em;
    margin-right: 2em;
    border: 1px solid #95a5a6;
}

#content {
    padding: 4em 1em;
    max-width: 32em;
    margin: 0 auto;
    background-color: #fff;
}

#content img {
    display: inline;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: -1em;
    margin-right: auto;
    max-width: 32em;
}

.entry {
    margin-bottom: 4em;
    padding: 0 1em;
}
